# ML Zoomcamp 2023 - Homework #1

In [31]:
import pandas as pd
import numpy as np

### Question 1
What's the version of Pandas that you installed?

In [3]:
pd.__version__

'1.5.3'

#### Getting the data

In [4]:
url = 'https://raw.githubusercontent.com/alexeygrigorev/datasets/master/housing.csv'
df = pd.read_csv(url, index_col=0)
print(df.head(5))

           latitude  housing_median_age  total_rooms  total_bedrooms  \
longitude
-122.23       37.88                41.0        880.0           129.0
-122.22       37.86                21.0       7099.0          1106.0
-122.24       37.85                52.0       1467.0           190.0
-122.25       37.85                52.0       1274.0           235.0
-122.25       37.85                52.0       1627.0           280.0

           population  households  median_income  median_house_value  \
longitude
-122.23         322.0       126.0         8.3252            452600.0
-122.22        2401.0      1138.0         8.3014            358500.0
-122.24         496.0       177.0         7.2574            352100.0
-122.25         558.0       219.0         5.6431            341300.0
-122.25         565.0       259.0         3.8462            342200.0

          ocean_proximity
longitude
-122.23          NEAR BAY
-122.22          NEAR BAY
-122.24          NEAR BAY
-122.25          NEAR BAY
-122.25          NEAR BAY

### Question 2
How many columns are in the dataset?

In [1]:
df.shape[1]

NameError: name 'df' is not defined

### Question 3
Which columns in the dataset have missing values?

In [7]:
df.isna().sum()

latitude                0
housing_median_age      0
total_rooms             0
total_bedrooms        207
population              0
households              0
median_income           0
median_house_value      0
ocean_proximity         0
dtype: int64

### Question 4

How many unique values does the `ocean_proximity` column have?

In [12]:
n=df.ocean_proximity.nunique()

In [15]:
df.ocean_proximity.value_counts()

<1H OCEAN     9136
INLAND        6551
NEAR OCEAN    2658
NEAR BAY      2290
ISLAND           5
Name: ocean_proximity, dtype: int64

### Question 5

What's the average value of the `median_house_value` for the houses located near the bay?

In [35]:
df[df.ocean_proximity=='NEAR BAY'].median_house_value.mean()

259212.31179039303

### Question 6

1. Calculate the average of `total_bedrooms` column in the dataset.
2. Use the `fillna` method to fill the missing values in `total_bedrooms` with the mean value from the previous step.
3. Now, calculate the average of `total_bedrooms` again.
4. Has it changed?

In [19]:
#Calculate the average of `total_bedrooms` column in the dataset.
df.total_bedrooms.mean()

537.8705525375618

In [21]:
#Use the `fillna` method to fill the missing values in `total_bedrooms` with the mean value from the previous step.
df.total_bedrooms.fillna(df.total_bedrooms.mean(), inplace=True)

In [24]:
#Now, calculate the average of `total_bedrooms` again.
df.total_bedrooms.mean()

537.8705525375617

### Question 7
1. Select all the options located on islands.
2. Select only columns `housing_median_age`, `total_rooms`, `total_bedrooms`.
3. Get the underlying NumPy array. Let's call it `X`.
4. Compute matrix-matrix multiplication between the transpose of `X` and `X`. To get the transpose, use `X.T`. Let's call the result `XTX`.
5. Compute the inverse of `XTX`.
6. Create an array `y` with values `[950, 1300, 800, 1000, 1300]`.
7. Multiply the inverse of `XTX` with the transpose of `X`, and then multiply the result by `y`. Call the result `w`.
8. What's the value of the last element of `w`?

In [33]:
#Select all the options located on islands and Select only columns `housing_median_age`, `total_rooms`, `total_bedrooms`.
df[df.ocean_proximity=='ISLAND'][['housing_median_age', 'total_rooms', 'total_bedrooms']]
#Get the underlying NumPy array. Let's call it `X`.
X=df[df.ocean_proximity=='ISLAND'][['housing_median_age', 'total_rooms', 'total_bedrooms']].values
#Compute matrix-matrix multiplication between the transpose of `X` and `X`. To get the transpose, use `X.T`. Let's call the result `XTX`.
XTX=X.T.dot(X)
#Create an array `y` with values `[950, 1300, 800, 1000, 1300]
y=np.array([950, 1300, 800, 1000, 1300])
#Multiply the inverse of `XTX` with the transpose of `X`, and then multiply the result by `y`. Call the result `w`.
w=np.linalg.inv(XTX).dot(X.T).dot(y)

In [34]:
w

array([23.12330961, -1.48124183,  5.69922946])